.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  width: 496px;
  background-color: #fff;
  padding: 28px 28px 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.modal__close {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../images/modal-close-form.svg");
  width: 20px;
  height: 20px;
  background-position: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.modal__label_type_radio {
  flex-direction: row;
  margin-bottom: 8px;
  gap: 8px;
}

.modal__input {
  margin-top: 8px;
  border: none;
  border-bottom: 1.5px solid #000;
  /* 1.5px border bottom looks closer to Figma
  design even tho the specification says 1px */
}

.modal__input_type_radio {
  margin: 0;
}

.modal__radio-buttons {
  border: 0;
  padding: 0;
  margin-bottom: 32px;
}

.modal__submit {
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #0000004d;
  align-self: flex-start;
  border: none;
}
