.header {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  max-height: 40px;
  margin-top: 32px;
}

.header__group {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.header__mobile-menu {
  color: #f3f3f3;
  background-image: url("../../images/mobile-menu-img.svg");
  background-position: center;
  padding: 0;
  object-fit: cover;
  border: none;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  visibility: hidden;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

.header__add-btn {
  background-color: #f3f3f3;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__add-btn:hover {
  cursor: pointer;
}

.header__user-info {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

.header__userpic {
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 705px) {
  .header {
    margin-top: 18px;
    max-height: 100px;
  }

  .header__mobile-menu {
    visibility: visible;
    align-self: flex-start;
  }

  .header__group {
    flex-direction: column;
  }

  .header__group-user-info {
    visibility: hidden;
    position: absolute;
  }

  .header__text {
    margin-top: 32px;
  }
}
