.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
