.sidebar {
  height: 100%;
  width: 305px;
}

.sidebar__user-info {
  margin-top: 47px;
  display: flex;
  gap: 16px;
}

.sidebar__userpic {
  height: 56px;
  width: 56px;
  border: 1px solid #00000080;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
}
